/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
    margin-top: 70px;
}

#edit-mode-toggle {
    cursor: pointer;

}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}

section {
    margin: 50px 0
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1 > span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}


nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;

}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #B1663C;
}

#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}

.filters {
    min-width: 550px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 35px auto;
}

.filters > * {
    padding: 10px;
    border: 1px solid #1D6154;
    border-radius: 25px;
    font-family: 'Syne';
    color: #1D6154;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.filters > *:hover {
    background-color: #1D6154;
    color: white;
}


.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;

}

#contact {
    width: 50%;
    margin: auto;
}

#contact > * {
    text-align: center;

}

#contact h2 {
    margin-bottom: 20px;
}

#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
    margin: 2em 0 1em 0;
}

#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em
}

/* Styles pour la section connection */
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    background-color: #FFFCF6;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1140px;
    padding: 0 20px;
}

main {
    max-width: 1140px;
    margin: 50px auto;
    padding: 0 20px;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne', sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;
}

h1 > span {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
}

#edit-mode-button {
    color: black;
    font-size: 15px;
    margin-left: 15px;
    font-family: 'work sans', sans-serif;
    margin-bottom: 5px;

}

#edit-mode-button i {
    margin-right: 5px;
}


nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #B1663C;
}

.form {
    width: 50%;
    margin: auto;
}

.form > * {
    text-align: center;
}

.form h2 {
    margin-bottom: 20px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    text-align: center;
}

.form form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 120%;
    max-width: 400px;
    margin: 10px 0;
}

.form select {
    height: 50px;
    width: 120%;
    font-size: 1.2em;
    max-width: 400px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form label {
    width: 120%;
    max-width: 400px;
    margin: 10px 0 5px 0;
    text-align: left;
}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    text-align: center;
    border-radius: 60px;
    display: block;
}

.form a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #1D6154;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

/* Error message */
.error-login {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    text-align: right;
    margin-top: 50px;

}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer nav ul li {
    font-size: 14px;
    color: #1D6154;
    margin-top: 5cm;
}

/* Styles pour la banner */
.edit-banner {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 46px;
    color: white;
}

#edit-mode-button {
    cursor: pointer;
}


.hidden {
    display: none !important;
}

/* Styles pour la modale */
.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
    position: relative;
    width: 600px;
    height: 640px;
    overflow: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styles pour les boutons de fermeture et de retour */
.modal-close-button,
.modal-back-button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 18px;
    cursor: pointer;
}

.modal-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.modal-wrapper h3 {
    font-size: 20px;
    text-align: center;
    font-family: 'work sans';
    font-weight: normal;
    margin: 25px;
}

.modal-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    overflow-y: auto;
    margin: 20px;
    padding: 35px;
}

.modal-gallery img {
    width: 100%;
}

.modal-wrapper hr {
    margin: 50px 0 10px 0;
    margin-bottom: 10px;
    width: 100%;
}


.modal-button-container {
    display: flex;
    justify-content: center;

}

.add-photo-toggle {
    padding: 10px 40px;
    width: 250px;
    border: 1px solid #1D6154;
    border-radius: 25px;
    font-family: 'Syne', sans-serif;
    color: white;
    background-color: #1D6154;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.add-photo-toggle:hover {
    background-color: #138547;
}

.modal-item {
    width: 76px;
    height: 102px;
    position: relative;
}

.modal-item i {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 13px;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 11%;
}

.modal-item img {
    width: 100%;
    display: block;
}

.file-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #E8F1F6;
    width: 380px;
    height: 169px;
    border-radius: 5px;
}

.file-section label {
    cursor: pointer;
    background-color: #CBD6DC;
    border-radius: 15px;
    width: 173px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #306685;
}

.fa-image {
    color: #B9C5CC;
    font-size: 50px;
    margin-top: 5px;
}

#photo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#photo-container img {
    font-size: 48px;
    color: #ccc;
    cursor: pointer;
    height: 165px;
    margin-top: 2px;
}

#add-photo-button {
    background-color: #1D6154;
    cursor: pointer;
}

/*style pour le boutton validé ( projet chargé ) */
#add-photo-button:disabled {
    background-color: #ccc;
    color: white;
    border: none;
    cursor: not-allowed;
}

.error-message {
    text-align: center;
    margin: 10px;
    color: red;
    display: none;
}
